<a href="https://colab.research.google.com/github/PrashanthiThirunahari/STAT_ML_B50_2495/blob/main/STML_DATASET_PROJECT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
d=pd.read_csv('/content/Sleep_health_and_lifestyle_dataset (1).csv')
print(d)
d=d.fillna(0)

     Person ID  Gender  Age            Occupation  Sleep Duration  \
0            1    Male   27     Software Engineer             6.1
1            2    Male   28                Doctor             6.2
2            3    Male   28                Doctor             6.2
3            4    Male   28  Sales Representative             5.9
4            5    Male   28  Sales Representative             5.9
..         ...     ...  ...                   ...             ...
369        370  Female   59                 Nurse             8.1
370        371  Female   59                 Nurse             8.0
371        372  Female   59                 Nurse             8.1
372        373  Female   59                 Nurse             8.1
373        374  Female   59                 Nurse             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                   6                       42             6   Overweight
1                   6                       60             8       Normal
2                   6                       60             8       Normal
3                   4                       30             8        Obese
4                   4                       30             8        Obese
..                ...                      ...           ...          ...
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps Sleep Disorder
0           126/83          77         4200            NaN
1           125/80          75        10000            NaN
2           125/80          75        10000            NaN
3           140/90          85         3000    Sleep Apnea
4           140/90          85         3000    Sleep Apnea
..             ...         ...          ...            ...
369         140/95          68         7000    Sleep Apnea
370         140/95          68         7000    Sleep Apnea
371         140/95          68         7000    Sleep Apnea
372         140/95          68         7000    Sleep Apnea
373         140/95          68         7000    Sleep Apnea

[374 rows x 13 columns]

In [ ]:
y={"Sleep Apnea":1}

In [ ]:
y={"Insomina":2}

In [ ]:
y=["Sleep Disorder"]
print(y)

['Sleep Disorder']

In [ ]:
d.isnull()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,False,False,False,False,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
d.shape

(374, 13)

In [ ]:
y = d['Sleep Disorder']
print(y)

0                0
1                0
2                0
3      Sleep Apnea
4      Sleep Apnea
          ...
369    Sleep Apnea
370    Sleep Apnea
371    Sleep Apnea
372    Sleep Apnea
373    Sleep Apnea
Name: Sleep Disorder, Length: 374, dtype: object

In [ ]:
x = d.drop('Sleep Disorder', axis=1)
print(x)

     Person ID  Gender  Age            Occupation  Sleep Duration  \
0            1    Male   27     Software Engineer             6.1
1            2    Male   28                Doctor             6.2
2            3    Male   28                Doctor             6.2
3            4    Male   28  Sales Representative             5.9
4            5    Male   28  Sales Representative             5.9
..         ...     ...  ...                   ...             ...
369        370  Female   59                 Nurse             8.1
370        371  Female   59                 Nurse             8.0
371        372  Female   59                 Nurse             8.1
372        373  Female   59                 Nurse             8.1
373        374  Female   59                 Nurse             8.1

     Quality of Sleep  Physical Activity Level  Stress Level BMI Category  \
0                   6                       42             6   Overweight
1                   6                       60             8       Normal
2                   6                       60             8       Normal
3                   4                       30             8        Obese
4                   4                       30             8        Obese
..                ...                      ...           ...          ...
369                 9                       75             3   Overweight
370                 9                       75             3   Overweight
371                 9                       75             3   Overweight
372                 9                       75             3   Overweight
373                 9                       75             3   Overweight

    Blood Pressure  Heart Rate  Daily Steps
0           126/83          77         4200
1           125/80          75        10000
2           125/80          75        10000
3           140/90          85         3000
4           140/90          85         3000
..             ...         ...          ...
369         140/95          68         7000
370         140/95          68         7000
371         140/95          68         7000
372         140/95          68         7000
373         140/95          68         7000

[374 rows x 12 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
x['Gender']=le.fit_transform(x['Gender'])
x['Age']=le.fit_transform(x['Age'])
x['Occupation']=le.fit_transform(x['Occupation'])
y=y.astype(str)
y = le.fit_transform(y)
print(x)
print(y)

     Person ID  Gender  Age  Occupation  Sleep Duration  Quality of Sleep  \
0            1       1    0           9             6.1                 6
1            2       1    1           1             6.2                 6
2            3       1    1           1             6.2                 6
3            4       1    1           6             5.9                 4
4            5       1    1           6             5.9                 4
..         ...     ...  ...         ...             ...               ...
369        370       0   30           5             8.1                 9
370        371       0   30           5             8.0                 9
371        372       0   30           5             8.1                 9
372        373       0   30           5             8.1                 9
373        374       0   30           5             8.1                 9

     Physical Activity Level  Stress Level BMI Category Blood Pressure  \
0                         42             6   Overweight         126/83
1                         60             8       Normal         125/80
2                         60             8       Normal         125/80
3                         30             8        Obese         140/90
4                         30             8        Obese         140/90
..                       ...           ...          ...            ...
369                       75             3   Overweight         140/95
370                       75             3   Overweight         140/95
371                       75             3   Overweight         140/95
372                       75             3   Overweight         140/95
373                       75             3   Overweight         140/95

     Heart Rate  Daily Steps
0            77         4200
1            75        10000
2            75        10000
3            85         3000
4            85         3000
..          ...          ...
369          68         7000
370          68         7000
371          68         7000
372          68         7000
373          68         7000

[374 rows x 12 columns]
[0 0 0 2 2 1 1 0 0 0 0 0 0 0 0 0 2 2 1 0 0 0 0 0 0 0 0 0 0 0 2 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 2 2 0 0 0 0 0 0 0 0 0 0 0 2 1 0 0 0 0 0 0 0 0 2 2 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 1 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 2
 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1
 1 1 0 0 0 1 2 1 0 2 2 2 2 2 2 2 2 2 2 1 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 0 0 0 0 0 2 2 2 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 2 2 0 0 0 2 2 2 2 2 2 2 2 2 2 2 2 2 2 0 0 2 2 2 2 2 2 2 2 2 2
 2 2 2 2]

In [ ]:
numerical_features = x.select_dtypes(include=['number'])
categorical_features = x.select_dtypes(exclude=['number'])


dd1 = (numerical_features - numerical_features.min()) / (numerical_features.max() - numerical_features.min())


dd1 = pd.concat([dd1, categorical_features], axis=1)

In [ ]:
mapping = {"Sleep Apnea": 1, "Insomina": 2}
y = pd.Series(y)
y = y.map(mapping)
print(y)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
369   NaN
370   NaN
371   NaN
372   NaN
373   NaN
Length: 374, dtype: float64

In [ ]:
y=d['Sleep Disorder']
print(y)

0                0
1                0
2                0
3      Sleep Apnea
4      Sleep Apnea
          ...
369    Sleep Apnea
370    Sleep Apnea
371    Sleep Apnea
372    Sleep Apnea
373    Sleep Apnea
Name: Sleep Disorder, Length: 374, dtype: object

In [ ]:
y.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
369    False
370    False
371    False
372    False
373    False
Name: Sleep Disorder, Length: 374, dtype: bool

In [ ]:
a=y.fillna(1)

In [ ]:
x_train,x_test, y_train,y_test= train_test_split(dd1,a,test_size=0.2,random_state=42)

In [ ]:
print (x_train)

     Person ID  Gender       Age  Occupation  Sleep Duration  \
192   0.514745     1.0  0.533333         0.7        0.259259
75    0.201072     1.0  0.200000         0.1        0.074074
84    0.225201     1.0  0.266667         0.9        0.629630
362   0.970509     0.0  1.000000         0.5        0.888889
16    0.042895     0.0  0.066667         0.5        0.259259
..         ...     ...       ...         ...             ...
71    0.190349     1.0  0.200000         0.1        0.111111
106   0.284182     0.0  0.333333         0.5        0.111111
270   0.723861     0.0  0.666667         0.5        0.111111
348   0.932976     0.0  0.933333         0.5        0.888889
102   0.273458     0.0  0.300000         1.0        0.518519

     Quality of Sleep  Physical Activity Level  Stress Level  Heart Rate  \
192               0.4                 0.250000           0.8    0.333333
75                0.4                 0.000000           1.0    0.333333
84                0.8                 0.500000           0.4    0.238095
362               1.0                 0.750000           0.0    0.142857
16                0.2                 0.166667           0.8    0.714286
..                ...                      ...           ...         ...
71                0.4                 0.000000           1.0    0.333333
106               0.4                 0.200000           0.6    0.571429
270               0.4                 1.000000           1.0    0.476190
348               1.0                 0.750000           0.0    0.142857
102               0.8                 0.500000           0.2    0.142857

     Daily Steps   BMI Category Blood Pressure
192     0.428571     Overweight         130/85
75      0.285714         Normal         125/80
84      0.714286  Normal Weight         120/80
362     0.571429     Overweight         140/95
16      0.142857  Normal Weight         132/87
..           ...            ...            ...
71      0.285714         Normal         125/80
106     0.171429     Overweight         126/83
270     1.000000     Overweight         140/95
348     0.571429     Overweight         140/95
102     0.571429         Normal         115/75

[299 rows x 12 columns]

In [ ]:
print(x_test)

     Person ID  Gender       Age  Occupation  Sleep Duration  \
329   0.882038     0.0  0.800000         0.2        1.000000
33    0.088472     1.0  0.133333         0.1        0.111111
15    0.040214     1.0  0.066667         0.1        0.074074
325   0.871314     0.0  0.800000         0.2        1.000000
57    0.152815     1.0  0.166667         0.1        0.074074
..         ...     ...       ...         ...             ...
94    0.252011     0.0  0.300000         0.0        0.518519
195   0.522788     1.0  0.533333         0.7        0.259259
312   0.836461     0.0  0.766667         0.2        0.962963
292   0.782842     0.0  0.700000         0.5        0.111111
372   0.997319     0.0  1.000000         0.5        0.851852

     Quality of Sleep  Physical Activity Level  Stress Level  Heart Rate  \
329               1.0                     0.00           0.0    0.000000
33                0.4                     0.00           1.0    0.333333
15                0.4                     0.00           1.0    0.238095
325               1.0                     0.00           0.0    0.000000
57                0.4                     0.00           1.0    0.333333
..                ...                      ...           ...         ...
94                0.8                     0.50           0.2    0.142857
195               0.4                     0.25           0.8    0.333333
312               1.0                     0.00           0.0    0.000000
292               0.4                     1.00           1.0    0.476190
372               1.0                     0.75           0.0    0.142857

     Daily Steps BMI Category Blood Pressure
329     0.285714       Normal         125/80
33      0.285714       Normal         125/80
15      0.714286       Normal         120/80
325     0.285714       Normal         125/80
57      0.285714       Normal         125/80
..           ...          ...            ...
94      0.571429       Normal         115/75
195     0.428571   Overweight         130/85
312     0.285714       Normal         125/80
292     1.000000   Overweight         140/95
372     0.571429   Overweight         140/95

[75 rows x 12 columns]

In [ ]:
print(y_train)

192       Insomnia
75               0
84               0
362    Sleep Apnea
16     Sleep Apnea
          ...
71               0
106              0
270    Sleep Apnea
348    Sleep Apnea
102              0
Name: Sleep Disorder, Length: 299, dtype: object

In [ ]:
print(y_test)

329              0
33               0
15               0
325              0
57               0
          ...
94        Insomnia
195       Insomnia
312              0
292    Sleep Apnea
372    Sleep Apnea
Name: Sleep Disorder, Length: 75, dtype: object

In [ ]:
label_encoders = {}
categorical_columns = ['Gender', 'Occupation', 'BMI Category', 'Sleep Disorder']

for col in categorical_columns:
    le = LabelEncoder()
    d[col] = le.fit_transform(d[col].astype(str))
    label_encoders[col] = le  # Save the encoder if you need to inverse transform later

# Separate systolic and diastolic blood pressure as separate features
d[['Systolic BP', 'Diastolic BP']] = d['Blood Pressure'].str.split('/', expand=True).astype(float)
d.drop(columns=['Blood Pressure'], inplace=True)

# Define features and target
X = d.drop(columns=['Person ID', 'BMI Category'])  # Drop 'BMI Category' if using it as target
y = d['BMI Category']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

lr = SVC()
m = lr.fit(x_train, y_train)

print("Training Accuracy:", m.score(x_train, y_train))
print("Testing Accuracy:", m.score(x_test, y_test))

Training Accuracy: 0.9632107023411371
Testing Accuracy: 0.96

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
yp=m.predict(x_test)
print(accuracy_score(y_test,yp))

0.96

In [ ]:
print(classification_report(y_test,yp))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        41
           1       0.00      0.00      0.00         2
           2       1.00      0.75      0.86         4
           3       0.97      1.00      0.98        28

    accuracy                           0.96        75
   macro avg       0.74      0.69      0.71        75
weighted avg       0.95      0.96      0.95        75

In [ ]:
print(confusion_matrix(y_test,yp))

[[41  0  0  0]
 [ 1  0  0  1]
 [ 0  1  3  0]
 [ 0  0  0 28]]

In [ ]:
## Perceptron Classification

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)


m = lr1.fit(x_train, y_train_encoded)

In [ ]:
from sklearn.linear_model import Perceptron
lr1=Perceptron()
m=lr1.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
yp1=m.predict(x_test)
print(accuracy_score(y_test,yp1))

0.9866666666666667

In [ ]:
print(confusion_matrix(y_test,yp1))

[[41  0  0  0]
 [ 1  1  0  0]
 [ 0  0  4  0]
 [ 0  0  0 28]]

In [ ]:
print(classification_report(y_test,yp1))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        41
           1       1.00      0.50      0.67         2
           2       1.00      1.00      1.00         4
           3       1.00      1.00      1.00        28

    accuracy                           0.99        75
   macro avg       0.99      0.88      0.91        75
weighted avg       0.99      0.99      0.98        75

In [ ]:
## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr2=LogisticRegression(max_iter=1000)
m=lr2.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
yp2=m.predict(x_test)
print(accuracy_score(y_test,yp2))

0.96

In [ ]:
print(confusion_matrix(y_test,yp2))

[[41  0  0  0]
 [ 1  0  0  1]
 [ 0  1  3  0]
 [ 0  0  0 28]]

In [ ]:
print(classification_report(y_test,yp2))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        41
           1       0.00      0.00      0.00         2
           2       1.00      0.75      0.86         4
           3       0.97      1.00      0.98        28

    accuracy                           0.96        75
   macro avg       0.74      0.69      0.71        75
weighted avg       0.95      0.96      0.95        75